# see man readline
#set meta-flag on
#set input-meta on
#set output-meta on
#set convert-meta off

# http://camisoul.blogspot.jp/2015/11/set-cd-zsh-zstyle-bashreadline.html
set blink-matching-paren on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 100
set mark-symlinked-directories on
set menu-complete-display-prefix off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on


$if gdb
    # serverをつけると履歴に残らなくなる
    # https://sourceware.org/gdb/onlinedocs/gdb/Server-Prefix.html#Server-Prefix
    # Up; continue
    "\e[A": "server continue \C-m"
    # Down: next
    "\e[B": "server n \C-m"
    # Right: step
    "\e[C": "server s \C-m"
    # Left; fin
    "\e[D": "server fin \C-m"
    # hoge<C-w> で p hoge を実行する
    # 続けて <C-p><C-w> で pp hoge を実行する
    "\C-w": "\M-@ \C-ap\C-m"
    "\M-@": vi-bWord
$endif

$if ruby
    "\e[A": "continue \C-m"
    # Down: next
    "\e[B": "next \C-m"
    # Right: step
    "\e[C": "step \C-m"
    # Left; fin
    "\e[D": "finish \C-m"
$endif

$if python
$else
    tab: complete
    C-d: delete-char-or-list

    "\C-x\C-d":dump-macros
    "\C-x\C-f":dump-functions
$endif


$if mysql
"\C-g":"\C-e\\G\r"
$endif
