# マシン固有の設定は
# ~/.my-local.cnf
# に書くこと

[client]
#user=db
#password=db
default-character-set=utf8

[mysql]
#database=d1
show-warnings
prompt=(\u@\h) [\d]>\_
auto-rehash
pager=less -S
local-infile=1

[mysqlimport]
local

!include ~/.my-local.cnf
